*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #37353E;
  font-family: "Share Tech", sans-serif;
  font-size: medium;
}

body{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(100deg, #000000, #434343);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
  color: #D3DAD9;
  background-color: transparent;
}

/* h1{
  font-size: 50px;
  font-weight: 900;
  background-image: url(https://cdn.pixabay.com/photo/2024/03/26/11/57/security-8656665_1280.jpg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */

input{
  background-color: #44444E;
  color: #D3DAD9;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  border:none;
}

.btn{
  padding: 10px;
  border-radius: 10px;
  background-color: lime;
  border:none;
}

.btn:hover{
  /* background-color: rgba(0, 255, 0, 0.856); */
  transform: translateY(-2px);
  box-shadow: 1px 1px 2px lime, 1px 1px 6px lime, 1px 1px 10px lime;
  cursor: pointer;
}

.out-btn{
  padding: 10px;
  border-radius: 10px;
  background-color: red;
  border:none;
  /* color: transparent; */
  position: absolute;
  top: 4%;
  left: 1%;
  width: 5%;
}

.out-btn:hover{
  /* background-color: rgba(255, 0, 0, 0.807); */
  transform: translateY(-2px);
  box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.904), 1px 1px 6px rgba(255, 0, 0, 0.904), 1px 1px 10px rgba(255, 0, 0, 0.904);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #37353E; */
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(8px);
  margin: 20px;
  margin-top: 4%;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}

/* .user-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37353E;
  margin: 20px;
  border-radius: 10px;

} */

#information2{
  /* font-size: 34px;
  font-weight: 900;
  padding: 5px;
  background-image: url(
    https://i.pinimg.com/1200x/c8/fa/af/c8faaf527ec022862ce99e68395a8843.jpg
    );
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 10px red, 1px 1px 30px red;
  position: absolute;
  transform: translate(-5%, 120%);
  filter: blur(10px) saturate(1);
  top: -5%;
  right: 1%;
  letter-spacing: 3px;
  width: fit-content; */
  display: none
}

#information{
  font-size: 25px;
  font-weight: 900;
  padding: 10px;
  background-image: url(
    https://i.pinimg.com/1200x/c8/fa/af/c8faaf527ec022862ce99e68395a8843.jpg
    );
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: red;
  box-shadow: 1px 1px 10px red;
  position: absolute;
  transform: translate(-5%, 120%);
  top: -6%;
  right: 1%;
  border-radius: 5px;
  border: 2px solid white;
  width: fit-content;
  font-family: "Bungee", sans-serif;
}

#input-taker{
  padding: 30px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #37353E;
  opacity: 90%;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  width: 50%;
  border: 5px solid rgb(255 255 255 / 10%);
  box-shadow: 1px 1px 100px red;
}
/* #input-taker:hover{
  box-shadow: 1px 1px 100px red;
} */

#todos-container{
  padding: 30px;
  margin-top: 1%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* background-color: #37353E; */
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(8px);
  width: 50%;
}

.task{
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-family: "Share Tech", sans-serif;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: rgb(98, 95, 95);
  flex: 1;
}
.task:hover{
  /* background-color: #4B484D; */
  cursor: pointer;
}
.task.completed{
  background-color: rgb(12, 161, 7);
  color: #ffffffba;
  text-decoration-line: line-through;
}

.btns-keeper{
  display: flex;
  background-color: transparent;
}

.task-container{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #4B484D;
  width: 100%;
  margin: 10px;
  display: flex;
}
.task-container:hover{
  box-shadow: 1px 1px 30px gray;
  background-color: #37353E;
}
.task-container.completed{
  background-color: rgba(12, 161, 7, 0.834);
  color: #ffffffba;
}
.task-container.completed:hover{
  border: 1px 1px 30px lime;
  background-color: rgb(12, 161, 7);
  cursor: pointer;
}

.taskbox{
  display: flex;
  background-color: transparent;
}

.myCheckbox{
  background-color: #37353E;
  cursor: pointer;
}

#todo-adder{
  width: 80%;
}

.todo-btn{
  border-radius: 5px;
  font-weight: 1000;
  background-color: rgb(255, 213, 0);
}

.todo-btn:hover{
  background-color: rgb(255, 180, 0);
  cursor: pointer;
}

.del-btn{
  background-color: red;
  font-weight: 700;
  border-radius: 5px;
}
.del-btn:hover{
  background-color: rgba(255, 0, 0, 0.658);
}

.edit-btn{
  background-color: rgb(137, 4, 220);
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
}
.edit-btn:hover{
  background-color: rgb(79, 0, 128);
}
.edit-btn.completed{
  display: none;
}

.edit-buttons{
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 10px;
}

#new-task{
  background-color: grey;
}
#new-task::placeholder{
  color: #fff;
}

.save-btn{
  background-color: #fff;
  color: #111;
  font-weight: 600;
  padding: 5px;
  border: 2px solid #111;
}
.save-btn:hover{
  opacity: 70%;
  border: 2px dashed #111;
}

.cancel-btn{
  background-color: #fff;
  color: #111;
  font-weight: 600;
  padding: 5px;
  border: 2px solid #111;
}
.cancel-btn:hover{
  opacity: 70%;
  border: 2px dashed #111;
}

/* #information{
  background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
  font-size: 50px;
  text-transform: capitalize;
  
} */

/* #information:hover{
} */

a:hover{
  color: rgba(0, 255, 255, 0.384);
}